@font-face {
  font-family: 'ShadowsIntoTheLight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Fonts/ShadowsIntoTheLight.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'ShadowsIntoTheLight';
    font-size: 1.4rem;
}

.dropdown-menu,
.gallery-item img,
.carousel-item-type-image .carousel-image img,
.frame-type-form_formframework,
.frame-layout-custom-withBorder {
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;
    border:1px solid #41403E !important;     
    border-top-left-radius: 255px 6px;
    border-top-right-radius: 5px 225px;
    border-bottom-right-radius: 225px 7px;
    border-bottom-left-radius:5px 255px;
}

.frame-layout-custom-imageWithoutBorder .gallery-item img {
    border:none !important;
}

.frame-layout-custom-withBorder {
    padding: 1.5rem;
    margin:1rem auto;
    max-width: 1320px;
}

.frame-layout-content-forBackground {
    padding: 1.5rem;
    margin:0 auto;
    max-width: 1320px;    
}

.frame-type-form_formframework {
    padding: 1.5rem;
}

.gallery-item img {
    padding:0;
}

.navbar-brand {
font-size: 2.3rem;
padding-top: 1.6rem;
    
}

#page-content {
    padding-bottom: 8rem;
    min-height:calc(100vH - 110px - 6rem);
}

.frame-space-before-extra-small {
    padding-top:0;
}

.frame-space-before-small {
    margin-top:1rem;
}
.frame-space-before-medium {
    margin-top:2rem;
}

table td {
    border-color: transparent;
}


@media (min-width: 992px) {
  .backendlayout-2_columns_25_75_normorder .maincontent-wrap {
    --section-gaps: 1;
    --section-colspan: 9;
  }
  .backendlayout-2_columns_25_75_normorder .subcontent-wrap {
    --section-gaps: 1;
    --section-colspan: 3;
  }
  .backendlayout-2_columns_25_75_normorder .maincontent-wrap {
    order: 2;
  }
  .backendlayout-2_columns_25_75_normorder .subcontent-wrap {
    order: 1;
  }
}




/*
WSI- specific?
*/


.frame-type-menu_subpages.frame-space-before-none ul {
    display:flex;
     justify-content: space-between;    
}
.frame-type-menu_subpages.frame-space-before-none ul li {
    list-style-type: none;
}

.layout-99 #page-header,
.layout-99 .section-default {
    background:#e9e9e9 !important;
    box-shadow: none;
}


.carousel-item-layout-secondary {
    background:none;
}