<ul class="dropdown-menu" aria-labelledby="nav-item-{mainnavigationItem.data.uid}">
    <f:for each="{mainsubmenu}" as="subItem">
        <f:if condition="{subItem.spacer}">
            <f:then>
                <li class="dropdown-divider"></li>
            </f:then>
            <f:else>
                <li {f:if(condition: subItem.children, then: ' class="dropdown"')}>
                    <a class="dropdown-item{f:if(condition: subItem.active, then:' active')}"
                        href="{subItem.link}"
                        <f:render partial="Navigation/SubTitle" arguments="{menuSubtitle: subItem}"/>
                        {f:if(condition: subItem.target, then: ' target="{subItem.target}"')}>
                        <span class="dropdown-text">{subItem.title}
                        <f:if condition="{subItem.current}"> <span class="sr-only">(current)</span></f:if>
                        </span>
                    </a>
                    <f:if condition="{subItem.children}">
                        <f:render partial="Navigation/MainSub" arguments="{mainsubmenu: subItem.children}"/>
                    </f:if>
                </li>
            </f:else>
        </f:if>
    </f:for>
</ul>